h1{
    color:#ff00ff;
}
p{
    color:#f56;
}
h2{
    color: #f40;
}

.parallax{
  position:static;
}
.parallax-container {
    position: relative;
    overflow: hidden;
   height: 500px;
  }
body {
    background-image: url("../img/china.jpeg");
    background-color: #ffffff;
}